.wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.container {
    position: relative;
}

.examples {
    flex: 1;
}

.shell {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1em; /* Add padding for spacing */
    max-width: calc(100% - 15% - 2em); /* Calculate max width, considering the fixed panel */
    box-sizing: border-box; /* Include padding and border in width calculation */
    z-index: 1; /* Ensure the content is above the fixed panel */
}

.variables {
    width: 14%; /* Adjust the width as needed */
    background-color: #d0f0d0;
    border: 2px solid green;
    padding: 1em;
    border-radius: 1em;
    /* Add any other styles for your fixed panel */
    position: absolute; /* Fix the panel */
    right: 0; /* Position it on the right side */
    top: 7em; /* Position it at the top */
    height: 20em;
}

.namelist {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.inputarea {
    background-color: #e0f0e0;
    font-family: monospace;
    font-size: 1.225em;
    border: 0px thin black;
    border-radius: 5px;
    overflow: scroll;
    padding: 0.2em;
    line-height: 1.225em;
    white-space: pre-wrap;
    width: calc(100% - 3em);
}

.inputarea:hover {
    background-color: #f5f5f5;
    border: 1px solid black;
}

.inputarea:focus {
    background-color: #ffffbf;
    color: #1a1a1a;
    border: 1px solid black;
}

.cursor {
    width: 1em;
    font-family: 1em monospace;
    position: relative;
    top: -0.175em;
}

.inputprompt {
    background-color: #e0e0e0;
    font-family: 1em monospace;
    overflow: hidden;
    outline: none;
    resize: none;
    white-space: nowrap;
    height: 1em;
    width: calc(100% - 3em);
    line-height: 1em;
    border-radius: 5px;
    border: 0px solid #000000;
    box-shadow: 0 0 0 0;
    outline: none;
}

.inputprompt:hover {
    background-color: #f5f5f5
}

.inputprompt:focus {
    background-color: #ffffbf;
    color: #1A1A1A
}

.good {
    background-color: #d0f0d0;
    border: 2px solid green;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

.bad {
    background-color: #f0d0d0;
    border: 2px solid red;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

.info {
    background-color: #d0d0f0;
    border: 2px solid blue;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

.warning {
    background-color: #b0b0b0;
    border: 2px solid yellow;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

canvas {
    display: block;
    width: calc(100% - 1em);
    height: 100%;
}
